body {
    background: white;
    font-family: 'Radio Canada', sans-serif;
    font-weight: 600;
  }
  
  .lang {
    position: fixed;
    width: 100%;
    text-align: right;
    z-index: 99;
  }

  button {
    margin: 15px !important;
  }

  .n-icon-wrapper {
    padding-right: 3px;
  }

  .container {
    width: 100%;
    height: 100vh;
    display: flex; /* Utilisez 'flex' au lieu de 'inline-flex' si vous voulez que le conteneur s'étende dans la ligne entière */
    text-align: center;
    align-items: center; /* Ceci centre verticalement */
    justify-content: center; /* Ceci centre horizontalement */
    position: relative;
    .inside-container {
      width:600px;
      text-align: center;
    }
  }